#map-container{
  position: relative;
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  height: 400px;

}

#map-outer {
  padding: 20px;
  border: 1px solid #CCC;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
}

#comments,
#name_email,
#recaptcha,
#condition,
#contact_us_contact_submit{
  margin-bottom: 10px !important;
}

label.error,
.alert-recaptcha_error{
    min-width: 100%;
    border: 1px solid red;
    padding: 4px;
    margin-bottom: 0px;
    color: red;
}

.alert-recaptcha_error{
  min-width: inherit;
}


div#name.input-group,
div#email.input-group,
div#phone.input-group{
  width: 33%;
  display: inline-table;
}


div#comments,
input#contact_us_contact_submit{
  margin-top: 10px;
}

label#label_contact_term_and_cond{
  margin-left: 20px;
}

@media (max-width: 815px ) {
  div#name.input-group,
  div#email.input-group,
  div#phone.input-group{
    width: 100%;
    margin-bottom: 5px;
  }
  #name_email{
    margin-bottom: 5px;
  }
}